<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title>后台管理系统登录</title>
		<link rel="stylesheet" href="css/login.css" />
	</head>

	<body>
		<form th:action="@{/login}" method="post" >
			<div class="login_m">
				<div class="login_logo">
					<h1>后台管理系统</h1></div>
				<div class="login_boder">
					<div class="login_padding" id="login_model">
						<h2>用户名</h2>
						<input type="text" id="username" name="username" class="input" placeholder="用户名" />
						<h2>密码</h2>
						<input type="password" name="password" id="password" class="input" placeholder="密码"/>
						<div class="rem_sub">
							<div class="rem_sub_l">
								<input type="checkbox" class="rember" name="remember-me" id="rememberme"/>
								<label for="rememberme">记住密码</label>
							</div>
							<input type="submit" class="sub_button" name="button" id="logincheck" value="登陆" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/login.js"></script>
</html>