<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.entrance.mapper.Acc_daybookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wkt.entrance.entity.Acc_daybook">
        <id column="Action_no" property="Action_no" />
        <result column="tr_code" property="tr_code" />
        <result column="Note" property="Note" />
        <result column="Amt" property="Amt" />
        <result column="Ali_order_number" property="Ali_order_number" />
        <result column="Ali_account" property="Ali_account" />
        <result column="Ali_name" property="Ali_name" />
        <result column="Apply_date" property="Apply_date" />
        <result column="Able_date" property="Able_date" />
        <result column="Acc_date" property="Acc_date" />
        <result column="State" property="State" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Action_no, tr_code, Note, Amt, Ali_order_number, Ali_account, Ali_name, Apply_date, Able_date, Acc_date, State
    </sql>

</mapper>
