<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.entrance.mapper.Bs_addressMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wkt.entrance.entity.Bs_address">
        <id column="id" property="id" />
        <result column="ClientID" property="ClientID" />
        <result column="Province" property="Province" />
        <result column="City" property="City" />
        <result column="Area" property="Area" />
        <result column="Street" property="Street" />
        <result column="Address" property="Address" />
        <result column="State" property="State" />
        <result column="IsDefault" property="IsDefault" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ClientID, Province, City, Area, Street, Address, State, IsDefault
    </sql>

</mapper>
