<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.entrance.mapper.Bs_producerMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wkt.entrance.entity.Bs_producer">
        <id column="ProducerID" property="ProducerID" />
        <result column="ProName" property="ProName" />
        <result column="ProAddress" property="ProAddress" />
        <result column="ProPhone" property="ProPhone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ProducerID, ProName, ProAddress, ProPhone
    </sql>

</mapper>
