<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.entrance.mapper.Bs_person_goods_listMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wkt.entrance.entity.Bs_person_goods_list">
        <id column="id" property="id" />
        <result column="ClientID" property="ClientID" />
        <result column="GoodsID" property="GoodsID" />
        <result column="State" property="State" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ClientID, id, GoodsID, State
    </sql>

</mapper>
