<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkt.entrance.mapper.Recharge_applyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wkt.entrance.entity.Recharge_apply">
        <id column="Action_no" property="Action_no" />
        <result column="Amt" property="Amt" />
        <result column="Ali_order_number" property="Ali_order_number" />
        <result column="State" property="State" />
        <result column="IsAble" property="IsAble" />
        <result column="Apply_date" property="Apply_date" />
        <result column="Able_date" property="Able_date" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Action_no, Amt, Ali_order_number, State, IsAble, Apply_date, Able_date
    </sql>

</mapper>
